@model IEnumerable<WebAPIsession5.Models.Materiel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departement.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departement.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaterielId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaterielId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaterielId })
        </td>
    </tr>
}

</table>
